@import "blueprint/global.scss";

/* global.scss */

$body_width: 960px;
$left_pane_width: 180px;

body {
	background-color: #607080;
}

.body_container { width: $body_width; }

.link_overlay { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }

table {
	tr { line-height: 2; }
	tr td { padding: 0 0 0 10px; }
	tr:nth-child(even) td { background-color: transparent; }
	tr.active td { background-color: #d0d0d0; }
}

.header_pane {
	background-color: black;
	padding: 0 0 0 10px;
	
	h1 { color: #ffffff; margin-bottom: 0; font-weight: bold; line-height: 1.5; }
}
.left_pane {
	float: left;
	width: $left_pane_width - 1;
	padding: 5px 0 0 0;
	border-right: 1px solid grey; border-bottom: 1px solid grey;
	background-color: #f0f0f0;
	
	p {
		margin-left: 10px;
	}
	
	table tr td { border-bottom: 2px solid #f0f0f0; }
	table tr.in_past td { font-weight: bold; }
}
.right_pane {
	float: left;
	width: $body_width - $left_pane_width - 50;
	padding: 0.5em 25px 1.5em;
	background-color: white;
	
	table tr td { border-bottom: 2px solid white; }
}

.team_tiles {

	.team_tile {
		position: relative;
		background-color: #e0e0e0;
		margin: 0 30px 1.5em 20px;
		padding: 0.75em;
		border-radius: 2px;
		box-shadow: 3px 3px 3px #c0c0c0;
		-moz-box-shadow: 3px 3px 3px #c0c0c0;
		-webkit-box-shadow: 3px 3px 3px #c0c0c0;
	
		.title { font-size: 3em; line-height: 1.5; }
	}
	.team_tile:hover { background-color: #c0d0ff; }
}

@import "workouts.scss";